@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&display=swap");

:root {
  --ff-primary: "Josefin Sans", sans-serif;
  --ff-secondary: "Josefin Sans", sans-serif;

  --primary-clr: #fcedda;
  --secondary-clr: #ee4e34;
  --tertiary-clr: #f8a093;

  --shade-clr: #00000090;
  --black: #000000;

  --half-rem: 0.5rem;
  --rem: 1rem;

  --transition-1: all 250ms ease-in-out;
}

*,
::before,
::after,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--ff-primary);
}

p {
  font-family: var(--ff-secondary);
}

@media (min-width: 0) {
  .header {
    background: var(--white);
    padding: 2%;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.293);
  }

  body {
    min-height: 100dvh;
    position: relative;
    background: var(--primary-clr);
  }

  .header p {
    font-size: 24px;
    font-weight: bold;
  }

  .bookbtn {
    border: none;
    color: var(--tertiary-clr);
    background-color: var(--secondary-clr);
    height: 72px;
    width: 72px;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: var(--rem);
    font-size: 48px;
    transition: 250ms;
  }

  .bookbtn:hover {
    cursor: pointer;

    background: var(--tertiary-clr);
    color: var(--ff-secondary);
    transform: scale(1.05);
    rotate: 90deg;
  }

  /* Shade and form */
  .shadow {
    display: none;
    position: fixed;
    background: var(--shade-clr);
    backdrop-filter: blur(0.2rem);
    width: 100%;
    min-height: 100dvh;
    top: 0;
  }

  .bookform {
    display: none;
    background-color: var(--primary-clr);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 56vh;
    margin-top: 5vh;
    justify-self: center;
    box-shadow: 5px 5px 5px #46515d;
    transition: 1s;
  }

  .bookform .title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--secondary-clr);
    text-shadow: 0 0 0 var(--black);
  }

  .bookform form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary-clr);

    padding: var(--half-rem);
  }

  .bookread {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 10px;
  }

  .bookread p {
    width: 12vw;
    font-size: 20px;
  }

  .bookform button {
    font-size: var(--rem);
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: var(--half-rem);
    border-radius: 0.25rem;
    color: var(--tertiary-clr);
    background: var(--secondary-clr);
    transition: var(--transition-1);
  }

  .bookform button:hover {
    background: var(--tertiary-clr);
    color: var(--secondary-clr);
  }

  .library {
    display: grid;
    margin: var(--rem);
    grid-template-columns: 30% 30%;
    gap: var(--rem);
  }

  /* Stored book */
  .book {
    padding: var(--rem);
    background: var(--secondary-clr);
    border-radius: var(--rem);
    color: var(--primary-clr);
    box-shadow: 0 0 0.2rem 1px rgba(0, 0, 0, 0.46);
    width: 100%;
  }

  .read {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
  }

  .book > p:first-child {
    color: var(--white);
    display: flex;
    justify-content: end;
    margin-right: 1vw;
  }

  .book p {
    margin-left: 4vh;
    color: var(--white);
  }

  .book > p:nth-child(2) {
    font-size: 24px;
    font-weight: bold;
  }

  .book > p:first-child:hover {
    color: #46515d;
  }

  /* Foter */
  .footer {
    margin: 1rem;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.7s;
    opacity: 0.7;
  }

  .footer p {
    font-size: var(--rem);
  }

  .footer a {
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-clr);
    transition: var(--transition-1);
  }

  .footer a:hover {
    text-decoration: underline;
    opacity: 0.95;
  }
}
